html{
    height: 100%; /*notre body correspond à notre écran*/
}

/*Faire une grille pour aider a la disposition des éléments de page*/
body{
    display: grid;
      grid-template-columns: 10% auto 10%;
    grid-template-rows: 70px 1fr 80px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    font-family: 'Playpen Sans', cursive;
}

/*Création de la barre de navigation*/
header{
    background-color: #F4E2B3; /*Couleur beige*/
    position: fixed; /*on le fixe, pour pas qu'il bouge*/
    right: 0;
    top: 5%;
    width: 100%;
    margin-top: -2.5em;
    grid-area: header;
    height: 73px;
    z-index: 2;
}

/* On vise l'image du logo */
.logo{
    width: 80px;
    height: 80px;
    display: flex;
    margin: 50px 50px auto 50px;
    transition: box-shadow 0.3s ease;
    border-radius: 100%;
}
.panier{
    width: 40px;
    height: 40px;
    display: flex;
    margin: auto auto auto 50px;
    background-color: #F4E2B3;
    margin-left: 0;
    transition: box-shadow 0.3s ease;
    border-radius: 100%;
}


.menu div {
    border: 2px solid transparent;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
main{
    position: relative;
    grid-area: main;
    background-image: url(images/fond-marron.png);
    background-size: cover;
    opacity: 90%;
    z-index: 1;
}

.menu{
    position: relative;
    text-align: center;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    align-content: center;
    align-items: center;
    height: 73px;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a{
    text-decoration: none;
    margin: 0 50px;
    color: #333333;
    border: 2px solid transparent;
}
.box {
    transition: box-shadow 0.3s ease;
    padding: 25px 0;
}
/* Lorsque la souris passe sur les liens du menu */
.menu div:hover {
    
}  
.panier{
    padding: 15px;
}
.panier:hover{
    border: 2px solid white;
    background-color: beige;
    border-radius: 100%;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.logo:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}
.box:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    background-color: beige;
}
